/gui-engine/Debug
/gui-engine/Release
/gui-engine/x64
/gui-engine/gui-engine.sln
/gui-engine/gui-engine.vcxproj
/gui-engine/gui-engine.vcxproj.filters
/gui-engine/gui-engine.vcxproj.user
/gui-engine/.vs